body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */
.navbar{
  background: linear-gradient(#212529, #202020);
}

#Hero-Section {
 background-image:url("../img/IsraelHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#Imgdesafio{
  width: 500px;
  height: 400px;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
